.country-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
img{
    margin:.8rem;
    width: 40%;
}
.flag-container{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    
}


